
html, body, .bgImage, .circle {
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
}

body{
    margin: 0;
    overflow: hidden;

    --baseUnit: 18vw
}

.circle{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    transform-origin: center;
    background: #271010;

    height: calc(var(--baseUnit) * var(--layer));
    width: calc(var(--baseUnit) * var(--layer));
    border-radius: 50%; 
    
    transition: 
        left 0.05s,
        top 0.05s,
        opacity 1s
    ;
}

.bgImage{
    position: absolute;
    height: 100%; width: 100%;
    visibility: hidden;

    -webkit-user-drag: none;
}

@keyframes bounce{
    0% { transform: translate(-50%, -50%)  rotate(45deg) scale(1.0); border-width: 1px; }
    15% { transform: translate(-50%, -50%)  rotate(45deg) scale(1.08); border-width: 14px; }
    30% { transform: translate(-50%, -50%)  rotate(45deg) scale(0.94); border-width: 2px; }
    50% { transform: translate(-50%, -50%)  rotate(45deg) scale(1.04); border-width: 10px; }
    75% { transform: translate(-50%, -50%)  rotate(45deg) scale(0.98); border-width: 3px; }
    100% { transform: translate(-50%, -50%)  rotate(45deg) scale(1.0); border-width: 5px; }
}

@font-face{
    font-family: 'quicksand';
    src: url("Quicksand.ttf");
}
@media (max-width: 1000px){

}